
<main>

    <div class="slider-area">
        <div class="slider-height2 d-flex align-items-center">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="hero-cap hero-cap2 text-center">
                            <h2>Plans</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <section class="home-blog-area section-padding30">
        <div class="container">
            <div class="row">
                <div class="outer col-12 col-lg-4 col-md-6 col-sm-12">
                    <div class="dot"></div>
                    <div class="card">
                        <div class="ray"></div>
                        <div>
                            <h5 class="card-title text-center" style="margin-bottom: 1rem; font-size: 33px; font-weight: 700;">Premimum</h5>

                            <p style="color : white" class="text-center"><span>PKR</span> <span style="font-size: 47px; font-weight: 700;">1,200</span></p>
                            <p style="color : white" class="text-center fs-5" style="padding-bottom: inherit">500+ Photos <span>+ SD card</span></p>
                            <button class=" btn-large">JOIN</button>
                            <hr>
                            <ul style="line-height: 2;">
                                <li>500+ Photos<span class="text-warning">+ SD card</span></li>
                                <li>Exclusive Photography Events</li>
                                <li>Workshops and Training Sessions</li>
                                <li>Photography Gear Rental</li>
                                <li>Professional Editing Software</li>
                            </ul>
                            <p class="text-center" style="color: #23c18a; font-size: 18px;">Photography </p>
                        </div>
                        <div class="line topl"></div>
                        <div class="line leftl"></div>
                        <div class="line bottoml"></div>
                        <div class="line rightl"></div>
                    </div>
                </div>
                 <div class="outer col-12 col-lg-4 col-md-6 col-sm-12">
                    <div class="dot"></div>
                    <div class="card">
                        <div class="ray"></div>
                        <div>
                            <h5 class="card-title text-center" style="margin-bottom: 1rem; font-size: 33px; font-weight: 700;">Premimum</h5>

                            <p style="color : white" class="text-center"><span>PKR</span> <span style="font-size: 47px; font-weight: 700;">1,200</span></p>
                            <p style="color : white" class="text-center fs-5" style="padding-bottom: inherit">500+ Photos <span>+ SD card</span></p>
                            <button class=" btn-large">JOIN</button>
                            <hr>
                            <ul style="line-height: 2;">
                                <li>500+ Photos<span class="text-warning">+ SD card</span></li>
                                <li>Exclusive Photography Events</li>
                                <li>Workshops and Training Sessions</li>
                                <li>Photography Gear Rental</li>
                                <li>Professional Editing Software</li>
                            </ul>
                            <p class="text-center" style="color: #23c18a; font-size: 18px;">Photography </p>
                        </div>
                        <div class="line topl"></div>
                        <div class="line leftl"></div>
                        <div class="line bottoml"></div>
                        <div class="line rightl"></div>
                    </div>
                </div>
                <div class="outer col-12 col-lg-4 col-md-6 col-sm-12">
                    <div class="dot"></div>
                    <div class="card">
                        <div class="ray"></div>
                        <div>
                            <h5 class="card-title text-center" style="margin-bottom: 1rem; font-size: 33px; font-weight: 700;">Premimum</h5>

                            <p style="color : white" class="text-center"><span>PKR</span> <span style="font-size: 47px; font-weight: 700;">1,200</span></p>
                            <p style="color : white" class="text-center fs-5" style="padding-bottom: inherit">500+ Photos <span>+ SD card</span></p>
                            <button class=" btn-large">JOIN</button>
                            <hr>
                            <ul style="line-height: 2;">
                                <li>500+ Photos<span class="text-warning">+ SD card</span></li>
                                <li>Exclusive Photography Events</li>
                                <li>Workshops and Training Sessions</li>
                                <li>Photography Gear Rental</li>
                                <li>Professional Editing Software</li>
                            </ul>
                            <p class="text-center" style="color: #23c18a; font-size: 18px;">Photography </p>
                        </div>
                        <div class="line topl"></div>
                        <div class="line leftl"></div>
                        <div class="line bottoml"></div>
                        <div class="line rightl"></div>
                    </div>
                </div>
                <div class="outer col-12 col-lg-4 col-md-6 col-sm-12">
                    <div class="dot"></div>
                    <div class="card">
                        <div class="ray"></div>
                        <div>
                            <h5 class="card-title text-center text-light" style="margin-bottom: 1rem; font-size: 33px; font-weight: 700;"> Basic</h5>

                            <p style="color : white" class="text-center text-light"><span class="text-light">PKR</span> <span class="text-light" style="font-size: 47px; font-weight: 700;">1,500</span> <span></span></p>
                            <p style="color : white" class="text-center fs-5" style="padding-bottom: inherit"> 750+ Photos <span>+ SD card</span></p>
                            <button class="  btn-large">JOIN</button>
                            <hr>
                            <ul style="line-height: 2;">
                                <li>500+ Photos<span class="text-warning">+ SD card</span></li>
                                <li>Advanced Photography Workshops</li>
                                <li>Exclusive Photo Contests</li>
                                <li>Photo Walks and Tours</li>
                                <li>Networking with Photographers</li>
                            </ul>
                            <p class="text-center" style="color: #23c18a; font-size: 18px;">Photography </p>
                        </div>
                        <div class="line topl"></div>
                        <div class="line leftl"></div>
                        <div class="line bottoml"></div>
                        <div class="line rightl"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>

</main>